/* document that holds css styling code that applies to all pages of the website */

/* title styling: */

h1 {
    color: cornflowerblue;
    text-align: center;
}

/* nav bar styling: */
.navbar {
    display: flex;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
.navbar a {
    display: block;
    padding: 12px 25px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.navbar a:hover {
    background-color: #111;
    color: white;
}
.navbar a.active {
    background-color: #4CAF50;
}
.dropbtn {
    background-color: #333;
    color: white;
    padding: 12px;
    font-size: 15px;
    border: none;
    cursor: pointer;
}
.dropdown {    
    float: left;
    overflow: hidden;
}
.diff-dreamBoards {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 121px;
}
.dropdown:hover .diff-dreamBoards {
    display: block;
}

/* content styling: */
